# Ignore node_modules directory
node_modules/

# Ignore generated JavaScript files
*.js

# Ignore the dist directory
dist/

# Ignore any files with a .log extension
*.log

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore .env files which may contain sensitive information
.env